/** 如果自己有设置颜色则使用自己的色彩
*/
// 颜色统一调度
$black: #383838;
$white: #ffffff;
$grey: #eaeaea;
/**/
$blue: rgb(0, 101, 160);
$blue1: rgba($blue, 0.1);
$blue2: rgba($blue, 0.2);
$blue3: rgba($blue, 0.3);
$blue4: rgba($blue, 0.4);
$blue5: rgba($blue, 0.5);
$blue6: rgba($blue, 0.6);
$blue7: rgba($blue, 0.7);
$blue8: rgba($blue, 0.8);
$blue9: rgba($blue, 0.9);
/**/

$themes: (
  default: (
    fontColor: $black,
    backColor: $white,
    borderColor: $grey,
  )
  // blue: (
//   fontColor: #fff,
//   backColor: #0056cc,
//   borderColor: #aecdfa,
// ),
// glup: (
//   fontColor: #e426fd,
//   backColor: #e426fd,
//   borderColor: #e426fd,
// ),
// red: (
//   fontColor: #fd5451,
//   backColor: #fd5451,
//   borderColor: #fd5451,
// ),
// green: (
//   fontColor: #0dd78d,
//   backColor: #0dd78d,
//   borderColor: #0dd78d,
// ),
// yellow: (
//   fontColor: #feae4d,
//   backColor: #feae4d,
//   borderColor: #feae4d,
// ),,,,,,,
);
