// 字体样式
$font-xs:12px;
.font-xs{
  font-size: $font-xs;
}
$font-sm:14px;
.font-sm{
  font-size: $font-sm;
}
$font-df:16px;
.font-df{
  font-size: $font-df;
}
$font-lg:18px;
.font-df{
  font-size: $font-lg;
}
$font-xl:20px;
.font-df{
  font-size: $font-xl;
}
$font-xxl:22px;
.font-df{
  font-size: $font-xxl;
}
$font-title:32px;
.font-df{
  font-size: $font-title;
}