/* 盒子布局 */
.flex {
  display: flex;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evebkt {
  justify-content: space-evenly;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-7 {
  flex: 7;
}
.flex-8 {
  flex: 8;
}
.flex-9 {
  flex: 9;
}
.flex-10 {
  flex: 10;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
}
.align-baseline {
  align-items: baseline;
}

.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-stretch {
  align-self: stretch;
}
/*  */
.block {
  display: block;
}
.inline {
  display: inline;
}
.none {
  display: none;
}
.block-inline {
  display: inline-block;
}
/* 文字排版 */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
/* 溢出显示省略号 */
.text-over {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
[class~="text-over-"] {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.text-over-2 {
  -webkit-line-clamp: 2;
}
.text-over-3 {
  -webkit-line-clamp: 3;
}
.text-over-4 {
  -webkit-line-clamp: 4;
}
.text-over-5 {
  -webkit-line-clamp: 5;
}
.text-over-6 {
  -webkit-line-clamp: 6;
}
.text-over-7 {
  -webkit-line-clamp: 7;
}
.text-over-8 {
  -webkit-line-clamp: 8;
}
.text-over-9 {
  -webkit-line-clamp: 9;
}
/* 鼠标形状 */
.pointer {
  cursor: pointer;
}
/* margin */
.margin-left-xs {
  margin-left: 5px;
}
.margin-left-sm {
  margin-left: 10px;
}
.margin-left {
  margin-left: 20px;
}
.margin-left-lg {
  margin-left: 25px;
}
.margin-left-xl {
  margin-left: 30px;
}
.margin-left-auto {
  margin-left: auto;
}

.margin-right-xs {
  margin-right: 5px;
}
.margin-right-sm {
  margin-right: 10px;
}
.margin-right {
  margin-right: 20px;
}
.margin-right-lg {
  margin-right: 25px;
}
.margin-right-xl {
  margin-right: 30px;
}
.margin-right-auto {
  margin-right: auto;
}

.margin-top-xs {
  margin-top: 5px;
}
.margin-top-sm {
  margin-top: 10px;
}
.margin-top {
  margin-top: 20px;
}
.margin-top-lg {
  margin-top: 25px;
}
.margin-top-xl {
  margin-top: 30px;
}
.margin-top-auto {
  margin-top: auto;
}

.margin-bottom-xs {
  margin-bottom: 5px;
}
.margin-bottom-sm {
  margin-bottom: 10px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-bottom-lg {
  margin-bottom: 25px;
}
.margin-bottom-xl {
  margin-bottom: 30px;
}
.margin-bottom-auto {
  margin-bottom: auto;
}
