$themes: (
  blue: (
    font_color1: #fff,
    background_color1: #0056cc,
    border_color1: #aecdfa,
  ),
  glup: (
    font_color1: #e426fd,
    background_color1: #e426fd,
    border_color1: #e426fd,
  ),
  red: (
    font_color1: #fd5451,
    background_color1: #fd5451,
    border_color1: #fd5451,
  ),
  green: (
    font_color1: #0dd78d,
    background_color1: #0dd78d,
    border_color1: #0dd78d,
  ),
  yellow: (
    font_color1: #feae4d,
    background_color1: #feae4d,
    border_color1: #feae4d,
  ),
);
